# Auto detect text files and perform LF normalization
SportsStore/wwwroot/lib/boostrap/js/* linguist-vendored
SportsStore/wwwroot/lib/boostrap/scss/* linguist-vendored
.js linguist-vendored=true
.css linguist-vendored=true
